@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap");


html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-left: 90px;
}

@media (max-width: 420px) {
	body {
		padding-left: 60px;
	}
}

h1,
h4,
h5,
h6 {
	margin: 0;
	color: #252525;
	font-weight: 600;
}

h2,
h3 {
	margin: 0;
	color: #ffffff;
	font-weight: 600;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
	font-weight: bold;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #636363;
	line-height: 1.8;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

@media (min-width: 300px) {
	.container {
		max-width: 1200px;
	}
}

/*---------------------
   Helper CSS
 -----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 55px;
}

.section-title img {
	margin-bottom: 15px;
}

.section-title h2 {
	font-weight: 400;
	font-size: 38px;
	text-transform: uppercase;
}

.section-title p {
	padding-top: 15px;
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 110px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
  Commom elements
-----------------------*/

.site-btn {
	display: inline-block;
	font-size: 16px;
	padding: 17px 25px;
	min-width: 170px;
	color: #fff;
	background: #2916e0;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	border: none;
	border-radius: 2px;
}

.site-btn i {
	font-size: 24px;
	position: relative;
	top: 5px;
	margin-left: 4px;
}

.site-btn:hover {
	color: #fff;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 23%;
	left: 23%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 5.8s linear infinite;
	-webkit-animation: loader 5.8s linear infinite;
}

.menu-wrapper {
	position: fixed;
	width: 90px;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
	box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
	z-index: 999;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

@media (max-width: 420px) {
	.menu-wrapper {
		width: 60px;
	}
}

.menu-wrapper.hide-left {
	opacity: 0;
	left: -90px;
}

.menu-switch {
	width: 100%;
	height: 90px;
	padding-top: 23px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	background: #0f0f0f;
	cursor: pointer;
}

.menu-social-warp {
	height: calc(100% - 90px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-pack: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu-social a {
	display: block;
	font-size: 18px;
	color: #252525;
	margin-bottom: 50px;
}

.menu-social a:last-child {
	margin-bottom: 0;
}

@media (max-width: 576px) {
	.menu-social a {
		margin-bottom: 30px;
	}
}

.side-menu-wrapper {
	position: fixed;
	width: 320px;
	height: 100%;
	left: -280px;
	top: 0;
	overflow-y: auto;
	-webkit-box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
	box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	z-index: 9999;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

@media (max-width: 420px) {
	.side-menu-wrapper {
		width: 100%;
		left: -100%;
	}
}

.side-menu-wrapper.active {
	left: 0;
	opacity: 1;
	filter: alpha(opacity=100);
}

.side-menu-wrapper .sm-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu-close {
	width: 90px;
	height: 90px;
	padding-top: 23px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	background: #0f0f0f;
	cursor: pointer;
}

.site-logo {
	background: #0f0f0f;
	width: calc(100% - 90px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-justify-content: left;
	-ms-justify-content: left;
	-webkit-box-pack: left;
	justify-content: left;
	-ms-flex-pack: left;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: left;
	-ms-flex-align: left;
	align-items: center;
}

.main-menu {
	height: calc(100% - 160px);
	display: -webkit-box;
	display: -ms-flexbox;
	margin: 20px;
	text-align: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-pack: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-menu ul {
	list-style: none;
	text-align: center;
}

.main-menu ul li {
	display: block;
	margin-bottom: 20px;
}

@media (max-height: 500px),
(max-width: 576px) {
	.main-menu ul li {
		margin-bottom: 5px;
	}
}

.main-menu ul li a {
	display: block;
	font-size: 30px;
	font-weight: 600;
	color: #010101;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

@media (max-height: 500px),
(max-width: 576px) {
	.main-menu ul li a {
		font-size: 20px;
	}
}

.main-menu ul li a:hover,
.main-menu ul li a.active {
	color: #2916e0;
}

.sm-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 0 10px;
}

@media (max-height: 500px) {
	.sm-footer {
		position: relative;
		padding-top: 30px;
	}
}

.sm-footer .sm-socail a {
	display: inline-block;
	font-size: 18px;
	color: #b2b2b2;
	margin-right: 30px;
	margin-bottom: 10px;
}

.sm-footer .sm-socail a:last-child {
	margin-right: 0;
}

.copyright-text {
	font-size: 16px;
	font-weight: 500;
	color: #b2b2b2;
	padding-bottom: 1px;
}

@media (max-width: 276px) {
	.copyright-text {
		padding-bottom: 1px;
	}
}

.copyright-text i {
	color: #e21010;
}

.copyright-text a {
	color: #b2b2b2;
}

.copyright-text a:hover {
	color: #2916e0;
}

/*---------------------
   Hero section
 -----------------------*/

.hero-section {
	height: 100%;
}

@media only screen and (min-width: 276px) and (max-width: 276px),
(max-width: 276px) {
	.pana-accordion {
		display: none;
	}
}

.pana-accordion-item,
.hero-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	position: relative;
}

.pana-accordion-item .pa-text,
.hero-item .pa-text {
	padding-left: 40px;
	padding-bottom: 50px;
	position: relative;
	z-index: 5;
	opacity: 0;
	top: -50px;
}

.pana-accordion-item .pa-text .pa-tag,
.hero-item .pa-text .pa-tag {
	display: inline-block;
	padding: 4px 20px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #2916e0;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 2px;
	background: #fff;
}

.pana-accordion-item .pa-text h2,
.hero-item .pa-text h2 {
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 20px;
}

@media only screen and (min-width: 276px) and (max-width: 276px),
only screen and (min-width: 276px) and (max-width: 276px) {
	.pana-accordion-item .pa-text h2,
	.hero-item .pa-text h2 {
		font-size: 48px;
	}
}

@media (max-width: 276px) {
	.pana-accordion-item .pa-text h2,
	.hero-item .pa-text h2 {
		font-size: 36px;
	}
}

@media (max-width: 276px) {
	.pana-accordion-item .pa-text h2,
	.hero-item .pa-text h2 {
		font-size: 24px;
	}
}

.pana-accordion-item .pa-text h4,
.hero-item .pa-text h4 {
	font-weight: 600;
	color: #fff;
	padding-top: 15px;
}

@media (max-width: 276px) {
	.pana-accordion-item .pa-text h4,
	.hero-item .pa-text h4 {
		font-size: 16px;
	}
}

.pana-accordion-item .pa-text .pa-author,
.hero-item .pa-text .pa-author {
	overflow: hidden;
}

.pana-accordion-item .pa-text .pa-author img,
.hero-item .pa-text .pa-author img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.pana-accordion-item.active .pa-text,
.hero-item.active .pa-text {
	opacity: 1;
	top: 0;
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
}

.hero-slider-warp {
	height: 100%;
	display: none;
}

@media only screen and (min-width: 276px) and (max-width: 276px),
(max-width: 276px) {
	.hero-slider-warp {
		display: block;
	}
}

.hero-slider {
	height: 100%;
}

.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .pana-accordion-item,
.hero-slider .hero-item {
	height: 100%;
}

.hero-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	padding: 0 15px;
}

.hero-item .pa-text {
	padding-left: 0;
	padding-bottom: 0;
}

.hero-item .pa-text h4 {
	display: inline-block;
}

.hero-item .pa-text .pa-author img {
	float: none;
	display: inline-block;
}

.owl-item.active .hero-item .pa-text {
	opacity: 1;
	top: 0;
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
}

.owl-item.active .hero-item:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	background: #000000;
	opacity: 0.5;
}